
body{
  font-family:garamond;
   margin: 0;
   color: black;
   background-color: rgb(236, 236, 236);
   padding-bottom: 5px;
}

.heading{
  background-image: url("images/bokeh01.jpg");
  background-size: cover;
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;

}

h1{
  margin: 5px;
  text-align: center;
  opacity: 0.7;
  color: black;
    }


h2{
  margin: 5px;
  text-align: center;
    }

h3{
      text-align: center;
      padding: 0px;
    }


    p{
      margin: 10px;
      font-size: 15px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

    }

    .navigation{
    background-color: #333;
    opacity: 0.5;
    overflow: hidden;
    }

  .navigation a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 17px;
    opacity:0.9;
  }

  .navigation a:hover {
    background-color: #ddd;
    color: black;
  }

  #home-page{
    background-image: url("images/bokeh04.jpg");
    background-color: rgba(190,190,190,.5);
    background-blend-mode: lighten;
    padding-bottom: 10px;
    margin:0;
  }

  #intro{
    text-align: center;
  }

  .headshot{
    display: flex;
    justify-content: center;
    position: relative;
  }

    #headshot{
      width : 30%;
      margin: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: 3px solid rgb(100,100,100);
  
    }

    hr.solid{
    }
     hr.solid-bottom-line{
      margin-bottom: 40px;
    }

    .explaination{
      padding-right: 30px;
      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-right: 0;
      margin-left: 0;
      background-color: rgb(220, 220, 220);
      opacity:.7;
      text-align: center;

    }

  .subsection{
    margin: 10px;
    border: 3px solid rgb(100,100,100);
    text-align: left;
    background-color: rgba(210, 210, 210,.8);
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .subsection h3{
    text-align: center;
  }

 .image-gallery{
    display: flex;
    justify-content: center;
    position: relative;
  }

  .image-gallery-detailed{
    display: flex;
    justify-content: center;
    position: relative;
  }

  .image-gallery-detailed:hover img{
    opacity:.4;
  }

   .image-gallery-detailed p{
    transition: opacity 0.3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
  }

  .image-gallery-detailed:hover p{
    opacity: 1;
  }


  .image{
    width: calc(30% - 20px);
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index:1;
  }

   .image-intro{
    width: calc(25% - 20px);
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  #credits{
    text-align: center;
    padding: 0px;
    border: 3px solid rgb(100,100,100);
    margin: 5px;
    opacity: .7;
    margin-left:20%;
    margin-right:20%;

  }

  .studio{
  }

  #copyright{
    text-align: center;
  }
  #copyright01{
    text-align: center;
    color: white;
  }
  
  


